<%= form_with(url: '/posts', method: 'post', scope: 'post', local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.rich_text_area :content, cols: 200, rows: 30 %>
  </div>

  <div class="actions mt-5">
    <div class="rounded-md">
      <%= form.submit "Detect", class: 'border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 py-2 text-sm px-5' %>
    </div>
  </div>
<% end %>
